# .ebextensions/01_storage.config
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Init:
        files:
          "/etc/ebextensions_volume_setup":
            content: |
              #!/bin/bash
              mkdir -p /mnt/ebstorage
              mount -t tmpfs -o size=1G tmpfs /mnt/ebstorage
            mode: "000755"
