Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Init:
        commands:
          increase_volume_size:
            command: "sudo growpart /dev/xvda 1 && sudo resize2fs /dev/xvda1"

OptionSettings:
  aws:autoscaling:launchconfiguration:
    BlockDeviceMappings:
      - DeviceName: /dev/xvda
        Ebs.VolumeSize: 20   # increase to 20 GB or more
